# Virtualenv
.venv/
venv/
ENV/

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
tk_app.log
app_run.log

# Builds
build/
dist/
*.egg-info/

# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Database/files
*.sqlite
*.sqlite-journal

# Other
.env
*.pem
